body { 
	background-color: white; 
	color: black;
	font-family: sans-serif;
}

a {
   color: silver;
   text-decoration: none;
}

a:hover {
   color: white;
}

#bigTitle {
	position: absolute;
	left: 40%;
	top: 30%;
}

#titleBar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
    top: 0;
	left: 0;
    width: 100%;
	z-index: 1;
}

#titleBar li {
    float: left;
}

#titleBar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#titleBar li a:hover {
	background-color: black;
}

#reference {
	margin: 2px;
    padding: 0;
    overflow: hidden;
    background-color: silver;
	border-left: 2px dashed white;
	position: fixed;
	right: 0;
	width: 300px;
	top: 30px;
	height: 100%;
	text-align: right;
}

#media {
	margin: 2px;
    padding: 0;
    overflow: hidden;
	border-radius: 4px;
    background-color: #333;
	color: silver;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 302px;
	height: 40%;
	text-align: right;
}

#placeholder {
	position: absolute;
	left: 10%;
	top: 40%;
}

#writing {
	position: absolute;
	left: 50px;
	top: 10%;
	width: 700px;
}

blockquote:hover {
	color: green;
}

#writing .audioQuote {
	font-family: monospace;
}

#writing .audioQuote:hover {
	color: green;
}

#writing a {
	color: green;
	
}

#writing a:hover {
	color: black;
}

#footnotes {
	position: fixed;
	background-color: silver;
	color: black;	
	right: 302px;
	left: 0px;
	bottom: 0;
	width: 100%;
}


.navigation {
	float: left;    
	background-color: gray;
	width: 150px;
	margin: 0px;
	border: 2px solid white;
	color: white;
	text-align: center;
	padding: 0px;
}


.navigation:hover {
    background-color: black;
}

#moreInfo {
    float: right;
}

